In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("salaries_by_college_major.csv")

In [4]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [9]:
df['Starting Median Salary'].max()

74300.0

In [14]:
df['Undergraduate Major'].loc[df['Starting Median Salary'].idxmax()]

'Physician Assistant'

In [15]:
df.loc[df['Starting Median Salary'].idxmax()]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [19]:
df['Mid-Career Median Salary'].max()

107000.0

In [16]:
df['Undergraduate Major'].loc[df['Mid-Career Median Salary'].idxmax()]

'Chemical Engineering'

In [21]:
df['Undergraduate Major'].loc[df['Starting Median Salary'].idxmin()]

'Spanish'

In [22]:
df['Starting Median Salary'].min()

34000.0

In [24]:
df['Undergraduate Major'].loc[df['Mid-Career Median Salary'].idxmin()]

'Education'

In [25]:
df['Mid-Career Median Salary'].min()

52000.0